<div class="jumbotron text-center mt-5">
  <h1>Ласкаво просимо до GPS Навігатора!</h1>
  <p>Найкращий сервіс для пошуку маршрутів та місць.</p>
  <%= link_to "Перейти до місць", places_path, class: "btn btn-primary btn-lg" %>
</div>